* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

main {
  width: 75%;
}

table {
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
}

tbody {
  > :nth-child(odd) {
    background-color: #f8f8f8;
  }
}

td, th {
  padding: 0.5em;
  border: 1px solid #ccc;
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

section {
  margin-bottom: 20px;
}

